body{
margin: 0%;
padding: 0%;
background-color: antiquewhite;
font-family: "Roboto Mono";
}


.contenido{
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono";
    font-size: 18px;
}

header{
    font-family: "Roboto Mono", monospace;
   
   
  
}

nav{
    border-style: solid;
    border-width: 1px;

    margin: 1%;
}

footer{
    font-family: "Roboto Mono", monospace;
    font-size: 0.95em;

    margin: 1%;
    padding: 5px;
}

/*estilos para tablets*/
@media screen and (min-width:768px){



}

/*estilos para computadores*/
@media screen and (min-width:1024px){



}

@media screen and (max-width:800px){
.contenido{
    display: block;
}

    section{

    width: 100%;
   }

   aside{

    width: 100%;
   }
}

#barra1 {
    font-size: larger;
    background-color:salmon !important;
    font-family: "Roboto Mono";
}

#barra2 {
    background-color:salmon !important;

}

#ttitulo {
    font-size: 30px;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    font-family: "Roboto Mono";

}



.Contenido{
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono";
    font-size: 18px;
}

